.form-control{
    width: 100%;
    border: none;
}
.border-bottom{
    width:27%;
}
table th,td{
    text-align: center;
}
.table{
      /* width: 165%;
      max-width: 165%;
      overflow-x: scroll;
      overflow-y: hidden; */
      margin-top:2%;
}
#style-8::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: white;
}

#style-8::-webkit-scrollbar-thumb:horizontal{
    background: #1304f6;
    border-radius: 10px;
}
.user-table{
    width: 165%;
    max-width: 165%;
    overflow-x: scroll;
    overflow-y: hidden;
}
#style-9::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: white;
}

#style-9::-webkit-scrollbar-thumb:horizontal{
    background: #1304f6;
    border-radius: 10px;
}
p{
    font-size: 14px;
}

.modal-dialog{
    width: 97% !important;
    margin: 10px auto;
  }
  .modal-form-input{
    width:57% !important;
  }
  @media (min-width: 576px){
    .modal-dialog {
        max-width: 80%;
    }
  }