<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="border-bottom">
                    <input type="text" [(ngModel)]="searchValue" class="form-control" placeholder="search">
                </div>
            </div>
            <div class="table-responsive" id="style-8">
                <table class="table">
                    <thead>
                        <tr style="background-color: #9112b7;color:white">
                            <th>ID</th>
                            <th>User Id</th>
                            <th>Title</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr
                            *ngFor="let album of Album | searchFilter:searchValue | paginate: {itemsPerPage: paginationObj.size, currentPage: paginationObj.page, totalItems:  count, id:'solution'} ">
                            <td>{{album.id}}</td>
                            <td>{{album.userId}}</td>
                            <td>{{album.title}}</td>
                            <td data-toggle="modal" class="cursor" data-target="#exampleModal"
                                (click)="getAlbumDataById(album)"><i class="fa fa-eye" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pagination Start -->
    <div class="text-center">
        <pagination-controls class="p-2" *ngIf="count > paginationObj.size" id="solution"
            (pageChange)="pageChanged($event)">
        </pagination-controls>
    </div>
    <!-- Pagination Start end -->

    <!-- Error message start -->
    <p class="text-danger">{{errorMessage}}</p>
    <!-- Error message start end -->
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Album Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <!-- Album Data -->
                    <h6 class="font-weight-bold">Album</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr style="background-color: #9112b7;color:white">
                                    <th>ID</th>
                                    <th>User Id</th>
                                    <th>Title</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-bottom" *ngFor="let album of singleAlbum">
                                    <td>{{album.id}}</td>
                                    <td>{{album.userId}}</td>
                                    <td>{{album.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Album Data end -->

                    <!-- User Data -->
                    <h6 class="font-weight-bold">User</h6>
                    <div class="table-responsive " id="style-9">
                        <table class="table ">
                            <thead>
                                <tr style="background-color: #9112b7;color:white">
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Website Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-bottom" *ngFor="let user of user">
                                    <td>{{user?.id}}</td>
                                    <td>{{user?.name}}</td>
                                    <td>{{user?.phone}}</td>
                                    <td>{{user?.email}}</td>
                                    <td>{{user?.username}}</td>
                                    <td><a>{{user?.website}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- User Data end -->

                    <!-- address of user -->
                    <div class="row">
                        <div class="col-md-6" *ngFor="let user of user">
                            <h6 class="font-weight-bold">Home address</h6>
                            <p>Address : {{user?.address?.city}} {{user?.address?.street}} {{user?.address?.suite}}</p>
                            <p>Zipcode : {{user?.address?.zipcode}}</p>
                            <p>Lattitude : {{user?.address?.geo?.lat}}</p>
                            <p>Longitude : {{user?.address?.geo?.lng}}</p>
                        </div>
                        <div class="col-md-6" *ngFor="let user of user">
                            <h6 class="font-weight-bold">Company</h6>
                            <p>Name : {{user?.company?.name}}</p>
                            <p>Profile : {{user?.company?.bs}}</p>
                            <p>CatchPhrase : {{user?.company?.catchPhrase}}</p>
                        </div>
                    </div>
                    <!-- address of user end -->

                    <!-- get photos data -->
                    <h6 class="font-weight-bold">Photos</h6>
                    <div class="row">
                        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3" *ngFor="let photo of photoList">
                            <div class="photo text-center">
                                <a href={{photo.url}} target="_blank"> <img [src]="photo?.thumbnailUrl"></a>

                                <p>{{photo?.title}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- get photos data end -->
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>