<div class="wrapper bg-white d-none d-lg-block">
    <div class="sidebar-wrapper  " id="style-7">
        <ul class="p-0">
            <li class="p-3 outline cursor" routerLink="/home"  [ngClass]="{active_url: router.url === '/home'}">
                <h6 class="text-white m-0"><i class="fa fa-home mr-3" aria-hidden="true"></i>Home</h6>
            </li>
            <li class="p-3 outline cursor" routerLink="/profile" [ngClass]="{active_url: router.url === '/profile'}">
                <h6 class="text-white m-0"><i class="fa fa-user mr-3" aria-hidden="true"></i>Profile</h6>
            </li>
        </ul>
    </div>
</div>