.sidebar-wrapper {
    position: relative;
    height: 100vh;
    overflow: auto;
    z-index: 4;
    background: #6a008a;
  }
  .wrapper{
    width: 16%;
    position: fixed;
  }
  #style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  #style-7::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }
  
  #style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, white), color-stop(0.72,white), color-stop(0.86, white));
  }
  h6{
    font-size: 14px;
  }
  ul{
      margin-top:26%;
      list-style-type: none;
  }
  .active_url{
      background-color: #9112b7;
      font-weight: bold;
  }