/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  
  body{
    font-family: 'Roboto', sans-serif;
    width:100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
  }
.outline{
    outline: none;
}
.cursor{
    cursor: pointer;
}